body {font-family: sans-serif;
}

header {background-color: black;
    color: white;
    font-family: cursive;
    padding: 5px;
    width: 100%;
}

h1 {font-family: cursive;
    text-align: center;
}

h2 {font-size: 50px;
    width: 75%;
    font-family: cursive;
    background-color: lime;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h3 {font-size: 30px;
    width: 40%;
    width: 80%;;
    background-color: lime;
    color: black;
}

h4 {font-size: 40px;
    width: 80%;
    color: lime;
    margin-right: auto;
    margin-left: auto;
}

p {width: 95%;
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
}

div {width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}

img {margin-left: auto;
    padding: 20px;
    height: 400px;
}

footer {font-size: 20px;
    margin-left: 30px;
}

nav {float: right;
}

nav ul {list-style-type: none;
    
}

nav li {float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
