nav {float: right;
}

nav ul {list-style-type: none;
    
}

nav li {float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

img {margin-left: 10px;
}

footer {font-size: 20px;
    margin-left: 30px;
}
